@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Minecraft";
	src: url("/fonts/Minecraft-Seven_v2.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Minecraft", sans-serif;
}

.markdown > *:not(h1) {
	all: revert;
}

.editor > * {
	all: revert;
}

.markdown code {
	background-color: rgb(40, 44, 52);
	color: rgb(171, 178, 191);
	padding: 0.2em 0.4em;
	border-radius: 6px;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
		Liberation, monospace;
	font-size: 85%;
	text-wrap: wrap;
}

.markdown img {
	border-radius: 10px 14px 10px 14px;
	width: 460px;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.markdown li {
	margin: 1rem 0;
}

details > summary {
	list-style: none;
	display: flex;
	align-items: center;
}
details > summary::-webkit-details-marker {
	display: none;
}

.summer-background {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
		url("/images/village-day.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	transition: background-size 0.5s ease-in-out;
	&:hover {
		background-size: 120%;
		transition: background-size 0.5s ease-in-out;
	}
	@media (max-width: 1200px) {
		background-size: cover;
	}
}

.sb-night {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
		url("/images/village-night.png");
}

.sb-day {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
		url("/images/village-day.png");
}

.sb-evening {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
		url("/images/village-evening.png");
}

.sb-morning {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
		url("/images/village-morning.png");
}
